node-red-chatbot-demos.json
[{"id":"14eff4ae.dd55b3","type":"http in","z":"3cb9d4ca.ebb23c","name":"messenger chabot","url":"/messenger","method":"get","swaggerDoc":"","x":143,"y":92,"wires":[["33c76d82.23c112","f76c2d2d.2214d8"]]},{"id":"166ad6de.e6c1a1","type":"http response","z":"3cb9d4ca.ebb23c","name":"","x":748,"y":121,"wires":[]},{"id":"33c76d82.23c112","type":"function","z":"3cb9d4ca.ebb23c","name":"pre-processamento","func":"// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.payload.message;\nmsg.payload = msg.mydata.messagein;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":223,"y":226,"wires":[["b20afd5e.73793","7d5b0580.aec58c"]]},{"id":"b20afd5e.73793","type":"debug","z":"3cb9d4ca.ebb23c","name":"","active":false,"console":"false","complete":"true","x":550,"y":21,"wires":[]},{"id":"f76c2d2d.2214d8","type":"debug","z":"3cb9d4ca.ebb23c","name":"","active":false,"console":"false","complete":"true","x":291,"y":31,"wires":[]},{"id":"7d5b0580.aec58c","type":"watson-conversation-v1","z":"3cb9d4ca.ebb23c","name":"Watson Conversation","workspaceid":"61e3bc58-36f8-4b7f-a8c4-d772bd2741bc","multiuser":false,"context":true,"x":396,"y":311,"wires":[["eef79acf.c0995","b00bf44a.9b345"]]},{"id":"eef79acf.c0995","type":"function","z":"3cb9d4ca.ebb23c","name":"Pos-processamento","func":"// declaração de variáveis\nvar newmsg = msg;\nvar text_array = [{}];\n\n// o chatfuel tem limite de caracteres e \n// a resposta do dialog pode responder \n// com mais de um texto\n\nfor(var i = 0; i < msg.payload.output.text.length;i++){\n    text_array[i]={text:msg.payload.output.text[i]};\n    node.log(\"text array : \"+JSON.stringify(text_array[i])) ;\n}\n\n//trata se há imagem\n//adicionar o img_url no json de resposta \n//com a url da imagem a ser utilizada\nif (msg.payload.output.img_url !== null){\n    var attimg = {};\n    \n    attimg = {\n      attachment: {\n        type: \"image\",\n        payload: {\n          url: msg.payload.output.img_url\n        }\n      }\n    }\n\n    \n    node.log(\"img att: \"+JSON.stringify(attimg));\n}\n\n    \ntext_array.push(attimg);\n\nnewmsg.payload.messages = text_array;\n          \nreturn newmsg;\n\n/****************************************\n * Exemplo de estrutura no Conversations como entrada\n * Desta lógica de processamento. Use o modo avançado.\n * Ricardo Kubo : nov/2016\n *\n {\n  \"output\": {\n    \"text\": [\n      \"A National Retail Federation (NRF) é a maior associacao de varejo nos EUA e anualmente faz o maior evento de varejo mundial em Nova Iorque. Este evento ocorre sempre em janeiro e é popularmente conhecido como NRF (http://nrfbigshow.nrf.com/) .\",\n      \"Se não conhece, recomendo muito ir uma vez, além de centenas de palestras com varejistas do mundo inteiro, tem uma feira enorme com fornecedores de soluções que é muito bom para ficar antenado com tendências.Em 2016 foram mais de 33000 atendentes e com mais de 3200 varejistas representados. \",\n      \"Se quiser saber mais como foi em 2016, veja meus posts do linkedin: https://www.linkedin.com/pulse/nrf-2016-primeiro-dia-ricardo-kubo?trk=mp-author-card\"\n    ],\n    \"img_url\": \"https://pbs.twimg.com/media/CZAVX4mWUAAqrR0.jpg\"\n  }\n}\n*************************************/\n\n/********************************************************\n * Exemplo de mensagem de retorno para o chatfuel\n * Ricardo Kubo : nov/2016\nmsg.payload = {\n  messages: [\n    {\"text\": \"Welcome to our store!\"},\n    {\"text\": \"segunda linha\"},\n      {\n      attachment: {\n        type: \"image\",\n        payload: {\n          url: \"https://pbs.twimg.com/profile_images/665334336284004354/qFdaTsJ7.jpg\"\n        }\n      }\n    },\n    {\n      attachment: {\n        type: \"video\",\n        payload: {\n          url: \"https://www.youtube.com/watch?v=vxuioqr9fXE\"\n        }\n      }\n    }\n  ]\n};\n\nreturn msg;\n\n*/\n","outputs":1,"noerr":0,"x":585,"y":218,"wires":[["166ad6de.e6c1a1","3852005f.cb9cb"]]},{"id":"b00bf44a.9b345","type":"debug","z":"3cb9d4ca.ebb23c","name":"","active":false,"console":"false","complete":"true","x":561,"y":420,"wires":[]},{"id":"3852005f.cb9cb","type":"debug","z":"3cb9d4ca.ebb23c","name":"","active":false,"console":"false","complete":"true","x":740,"y":323,"wires":[]}]